<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273871393524-57vlf5b2ka1ruka861ks84lsvkj3glq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273871393524-57vlf5b2ka1ruka861ks84lsvkj3glq7</string>
	<key>API_KEY</key>
	<string>AIzaSyBzJ8fQ9jgM6VxI57ifhIe05inYjwJ7avU</string>
	<key>GCM_SENDER_ID</key>
	<string>273871393524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techWithTim1</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-apps-jgh</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-apps-jgh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273871393524:ios:bc5952b8ddde250221c4a1</string>
</dict>
</plist>